<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/resources/styles.css}" rel="stylesheet" />
<link th:href="@{/images/icon.gif}" rel="shortcut icon" />
<title>Exception page</title>
</head>
<body>
	<p>Hello, my lovely friend! If you are here the exception has been
		thrown:) Watch eclipse logs to watch out that exactly is bad.</p>
	<p>The short exception message is "${exception}"</p>
</body>
</html>