<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/resources/styles.css}" rel="stylesheet" />
<link th:href="@{/resources/Flex.css}" rel="stylesheet" />
<link th:href="@{/images/icon.gif}" rel="shortcut icon" />

<link th:href="@{/resources/bootstrap.min.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<title>FlexPage</title>
</head>
<body>
	<div th:replace="header :: header">INCLUDING HEADER HERE</div>
	<div class="FlexBlock">
		<div class="FlexBlock content-text">
			<img src="images/paws.gif" id="paws" />
			<div>
				<p>Это всего лишь столбик текста с картинкой)</p>
				<p>Страничка, на которой вы в данный момент находитесь, создана
					мной ради усвоения верстки с помощью flexbox. Я создала несколько
					блоков, очень удобно расположившихся на странице почти
					самостоятельно, что меня очень радует.</p>
				<p>Давайте ради разнообразия поговорим в этот раз не о котиках,
					потому что они вам наверняка поднадоели. Пусть это будет
					какая-нибудь логика или математика, а еще лучше - их парадоксы:) Я
					постаралась найти несколько самых интересных и сопроводить их
					материалами, приятного чтения!</p>
			</div>
		</div>
		<div class="content-text">
			<h2>Парадокс временной петли</h2>
			<p>Существует несколько вариантов парадоксов временной петли,
				один из самых простых и наглядных примеров подобной проблемы привёл
				в своей книге «The New Time Travelers» («Новые путешественники во
				времени») Дэвид Туми, профессор из Университета Массачусетса.</p>
			<p>Представьте себе, что путешественник во времени купил в
				книжном магазине экземпляр шекспировского «Гамлета». Затем он
				отправился в Англию времён Королевы-девы Елизаветы I и отыскав
				Уильяма Шекспира, вручил ему книгу. Тот переписал её и издал, как
				собственное сочинение. Проходят сотни лет, «Гамлета» переводят на
				десятки языков, бесконечно переиздают, и одна из копий оказывается в
				том самом книжном магазине, где путешественник во времени покупает
				её и отдаёт Шекспиру, а тот снимает копию и так далее… Кого в таком
				случае нужно считать автором бессмертной трагедии?</p>
			<img src="images/Shekspire.jpg" id="Shekspire">
		</div>
	</div>
	<div class="FlexBlock">
		<div class="content-text blue">
			<h2>Парадокс Журдена с карточкой</h2>
			<p>Проблему, предложенную британским логиком и математиком
				Филиппом Журденом в начале XX-го века, можно считать одной из
				разновидностей знаменитого парадокса лжеца.</p>
			<p>Представьте себе — вы держите в руках открытку, на которой
				написано: «Утверждение на обратной стороне открытки истинно».
				Перевернув открытку, вы обнаруживаете фразу «Утверждение на другой
				стороне ложно». Как вы понимаете, противоречие налицо: если первое
				утверждение правдиво, то второе тоже соответствует действительности,
				но в таком случае первое должно оказаться ложным. Если же первая
				сторона открытки лжива, то фразу на второй также нельзя считать
				истинной, а это значит, первое утверждение опять-таки становится
				правдой…</p>
		</div>
		<div class="content-text blue">
			<h2>Шутливый парадокс про мешок картофеля</h2>
			<p>Допустим, у некоего фермера имеется мешок картофеля весом
				ровно 100 кг. Изучив его содержимое, фермер обнаруживает, что мешок
				хранился в сырости — 99% его массы составляет вода и 1% остальные
				вещества, содержащиеся в картофеле. Он решает немного высушить
				картофель, чтобы содержание воды в нём снизилось до 98% и переносит
				мешок в сухое место. На следующий день оказывается, что один литр (1
				кг) воды действительно испарился, но вес мешка уменьшился со 100 до
				50 кг, как такое может быть?</p>
			<p>Давайте посчитаем — 99% от 100 кг это 99 кг, значит
				соотношение массы сухого остатка и массы воды изначально было равно
				1/99. После сушки вода насчитывает 98% от общей массы мешка, значит
				соотношение массы сухого остатка к массе воды теперь составляет
				1/49. Так как масса остатка не изменилась, оставшаяся вода весит 49
				кг.</p>
			<p>Конечно, если читать рассуждение очень внимательно, можно
				заметить ошибку в расчётах, сокрываемую условием парадокса — масса 1
				килограмма воды не всегда будет эквивалентна 1 проценту массы
				картофеля!</p>
			<p>Мнимый шуточный «парадокс мешка картофеля» можно считать
				отличным примером того, как с помощью на первый взгляд «логичных» и
				«научно подкреплённых» рассуждений можно буквально на пустом месте
				выстроить теорию, противоречащую здравому смыслу.</p>
		</div>
	</div>
	<div class="FlexBlock content-text blue">
		<div>
			<h2>Парадокс бесконечного отеля</h2>
			<p>Напоследок я решила оставить свой любимый парадокс - парадокс
				бесконечного отеля Гилберта. Этот мысленный эксперимент - прекрасная
				вещь для погружения в математику и осознания понятия бесконечности и
				бесконечных множеств.</p>
			<p>Представьте себе отель со счётным множеством комнат, в каждой
				из которых находится постоялец. На первый взгляд, в отель невозможно
				подселить новых посетителей, как если бы речь шла об обычной
				гостинице, с конечным количеством комнат. Но ввиду того, что наш
				отель бесконечный, мы справимся с такой задачей.</p>
			<p>
				Для того чтобы подселить нового человека, нам придётся освободить
				одну комнату. Для этого мы переселим гостя из комнаты № 1 в комнату
				№ 2, гость из комнаты № 2 перейдет в комнату № 3 и так далее. В
				общем случае, гость из комнаты <i>n</i> переселится в комнату <i>n+1</i>.
				Таким образом, мы освободим первую комнату, в которую можно будет
				поселить нового гостя.
			</p>
			<p>
				Если же предстоит расселить бесконечное количество новых
				посетителей, нам придётся освободить бесконечное количество комнат:
				постояльца из комнаты 1 переселим в комнату 2, из комнаты 2 в
				комнату 4, в общем случае из комнаты <i>n</i> переселим в комнату <i>2n</i>.
				Таким образом мы освободим все нечётные комнаты, количество которых
				также счётное множество.
			<p>
				Бесконечное количество автобусов с бесконечным количеством
				пассажиров? Есть несколько способов для того, чтобы расселить
				бесконечное количество пассажиров из бесконечного количества
				автобусов. Обозначим номер места в автобусе очередного пассажира
				переменной <i>n</i>, а номер автобуса, в котором сидит этот
				пассажир, переменной <i>c</i>. Переселим всех постояльцев из своих
				комнат в комнаты степени 2 аналогично тому, как переселяли в
				предыдущем случае. Таким образом, человек из комнаты <i>i</i> теперь
				будет в комнате <i>2<sup>i</sup></i> . Пассажиров из автобуса <i>c</i>
				поселим в комнаты <i>p<sup>n</sup></i>, где <i>p</i> — <i>c</i>-ое
				нечётное простое число (то есть <i>c</i>-ое по счету простое число,
				начиная с тройки). То есть люди из первого автобуса окажутся в
				комнатах степени тройки, из второго - степени пятерки и так далее.
				здесь важно, что заняты в итоге будут только комнаты с номерами-
				точными степенями чисел, что оставит еще бесконечное количество
				свободных номеров (уф, куда уж больше?..), а также, что не возникнет
				конфликтов за номер между постояльцами (это следует из определения
				степени натурального простого числа- степень пятерки никак не может
				оказаться при этом степенью двойки).
			</p>
			<p>Приведенные выше решения для конечного, бесконечного первого
				порядка и бесконечного второго порядка количества посетителей
				показывают, что какое количество посетителей мы бы не пытались
				разместить, мы всегда это сможем сделать. Другими словами, что в
				бесконечности содержится бесконечное количество бесконечностей.
				Разве это не прекрасно?</p>
		</div>
		<img src="images/infinity.jpg" id="infinity" />
	</div>
	<div th:replace="footer :: footer">INCLUDING FOOTER</div>
</body>
</html>