<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/resources/styles_for_login.css}" rel="stylesheet" />
<link th:href="@{/resources/styles.css}" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" th:src="@{/resources/CheckingRegInfo.js}"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<link th:href="@{/images/icon.gif}" rel="shortcut icon" />
<title>log in</title>
</head>
<body>
	<!-- optional annotation checks if request param exists -->
	<div id="ENTER">
		<div class="form_window">
			<img src="images/close.png">
			<form action="login" method="post">
				<p>Log in, please</p>
				<p>
					Name: <input type="text" name="username" autofocus />
				</p>
				<p>
					Password: <input type="password" name="password">
				</p>
				<label><input type="checkbox" name="remember-me"
					value="true" checked> Remember me!</label>
				<p>
					<input type="submit" value="Log In" class="submit-button" />
				</p>
			</form>
		</div>
	</div>

	<div id="REGISTER">
		<div class="form_window">
			<img src="images/close.png">
			<form action="register" onsubmit='CheckRegInfo();' method="post">
				<p>Sign up:</p>
				<p>Email address:</p>
				<input type="text" name="email" id="Email" onkeyup="CheckRegInfo()"
					autofocus />
				<p>Name:</p>
				<input type="text" name="name" id="UserName"
					onkeyup="CheckRegInfo()">
				<p>Password:</p>
				<input type="password" id="pass1" name="password"
					onkeyup="CheckRegInfo()">
				<p>Confirm your password:</p>
				<input type="password" id="pass2" name="password2"
					onkeyup="CheckRegInfo()">
				<p id="RegErrors">Type all the info and log in:)</p>
				<p>
					<input type="submit" id="RegisterButton" value="Register"
						class="submit-button" disabled />
				</p>
			</form>
		</div>
	</div>
	<div class="log_button" id="LogInButton">Log In</div>
	<div class="log_button" id="SignUpButton">I am a new user here!</div>
	<script type="text/javascript" src="resources/VisibilityOfWindows.js"></script>
</body>
</html>