<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/resources/styles.css}" rel="stylesheet" />
<link th:href="@{/images/icon.gif}" rel="shortcut icon" />
<title>Сообщения</title>
</head>
<body>
	<div id="page">
		<div th:replace="header :: header">INCLUDING HEADER HERE</div>
		<div class="content-text">
			<a href="addmessage"><button class="submit-button"
					style="float: right">Добавить сообщение</button></a>
			<div class="clearleft"></div>
			Ранее добавленные пользователями сообщения:
			<ul id="pages_list" th:each="i : ${list}">
				<li>
					<p>От пользователя [[${i.sender}]]:</p>
					<p th:text="${i.text}"></p>
					<p th:text="${i.time}" style="text-align: right"></p>
				</li>
			</ul>
		</div>
	</div>
	<div th:replace="footer :: footer">INCLUDING FOOTER</div>
</body>
</html>