<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/resources/styles.css}" rel="stylesheet" />
<link th:href="@{/images/icon.gif}" rel="shortcut icon" />

<link th:href="@{/resources/bootstrap.min.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<title>Профиль</title>
</head>
<body>
	<div th:with="name=${session.name}" id="page">
		<div th:replace="header :: header">INCLUDING HEADER HERE</div>
		<div class="content-text">
			<p style="float: left" th:text="${name}">NAME HERE</p>
			<img th:src="@{|/uploads/${name}.jpg|}" width=500
				style="float: right" />
			<div class="clearright"></div>
		</div>
	</div>
	<div th:replace="footer :: footer">INCLUDING FOOTER</div>
</body>
</html>